body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

/* Centrar contenido */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caja login */
.login-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.login-box h2 {
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 93%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}

/* Botón */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}

/* Mensaje */
#mensaje {
  margin-top: 15px;
  font-size: 14px;
}